@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "syicon";
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.syicon {
    font-family:"syicon" !important;
    font-size:14px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
 }

body{ padding:0; margin:0;font-family: Microsoft YaHei,"Hiragino Sans GB W3", Helvetica, Arial, sans-serif; font-size:12px;}
ul,li{ list-style:none; padding:0; margin:0;}
a,a[href]{ text-decoration:inherit;}
.fl{ float:left !important;}
.fr{ float:right !important;}
.clear:before,.clear:after{ content: " "; display: table;}
.clear:after {clear: both;}
hr{border: 0;border-top: 1px solid #3e5d7d;height: 0;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.dian3{ overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}/*单行文字超出显示...*/
.r180{transform:rotate(-180deg); -webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg); display:inline-block;}
.r90{transform:rotate(-90deg); -webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);}
.trn{-webkit-transition: all 0.25s ease-out 0s;-moz-transition: all 0.25s ease-out 0s;transition: all 0.25s ease-out 0s;}/*过度执行动画  ie8以及以下没作用*/

/*简易栅格系统*/
.sy_sg{padding:0 10px; box-sizing: border-box; float: left;}
.sy_sg_12 {width: 100%;}
.sy_sg_11 {width: 91.66666667%;}
.sy_sg_10 {width: 83.33333333%;}
.sy_sg_9 {width: 75%;}
.sy_sg_8 {width: 66.66666667%;}
.sy_sg_7 {width: 58.33333333%;}
.sy_sg_6 {width: 50%;}
.sy_sg_5 {width: 41.66666667%;}
.sy_sg_4 {width: 33.33333333%;}
.sy_sg_3 {width: 25%;}
.sy_sg_2 { width: 16.66666667%;}
.sy_sg_1 {width: 8.33333333%;}


.sy_body{ position:absolute; min-height:100%; width:100%; left:0; top:0; padding: 50px 0 0; box-sizing: border-box;}

/*头部*/
.sy_heard{ position:fixed; width:100%; background:#32ADF1; height:50px; z-index:7; top:0; left:0;box-sizing:border-box; box-shadow: 0 2px 3px #ddd; }
.sy_logo{ float:left;height:50px; margin:0 45px;}
.sy_logo img{ display:block; margin: 0 auto; height:100%;}
.sy_nav{ position:relative;}
.sy_nav>li{ float:left; display:block;position:relative;width:7%;}
.sy_nav>li>a{ display:block; color:#fff; height:50px; line-height:50px; width:100%; text-align:center; text-decoration:inherit; font-size:14px;}
.sy_nav>li:hover>a{ color:#fff; background: url(../images/mask_bghover.png);}
.sy_nav>li.active>a{ color:#fff; background:#1a85c0;}

.sy_snav{ position:absolute; top:100%;background:#32ADF1; left:0; display:none; width:100%; border-radius:0 0 6px 6px;box-shadow: 0 2px 3px #ddd;}
.sy_snavli{ color:#fff; padding:10px 0; float:left; text-align:center; font-size:14px;display:block; cursor:pointer; box-sizing:border-box;}
.sy_snavli:hover,.sy_snavli.active{ color:#fff; background: url(../images/mask_bghover.png);}
.sy_nav>li:hover>.sy_snav{ display:block;}

.sy_heard .sy_select{  position:absolute; right:10px; height:50px; line-height:50px; top:0; width:100px;}
.sy_heard .sy_select a.select_btn{ display:block; cursor:pointer; font-size:14px;color:#fff; text-align:center;}
.sy_heard .sy_select_mian{ position:absolute; top:100%;  background:#32ADF1; left:0; width:100%; display:none; border-radius:0 0 6px 6px;}
.sy_heard .sy_select_mian a{ display:block; padding:8px 0; text-align:center; line-height:18px; cursor:pointer;font-size:14px;color:#fff; margin-bottom:5px;}
.sy_heard .sy_select_mian a:hover{color:#fff; background: url(../images/mask_bghover.png);}

/*中部*/
.sy_mian{ width:100%; height:100%; position:relative; }
.sy_left{ width: 20%; background: #f5f5f5; box-sizing: border-box; position: fixed; top:0; left:0; border-right: 1px solid #ddd;  min-height:100%; min-width: 200px;   overflow: hidden; }
.sy_scroll{ padding-top:50px;overflow-y: auto; height: 100%; width: 140%; padding-right: 40%; box-sizing: border-box; position:absolute; top:0; left: 0;}
.sy_left_nav{padding:10px 20px 10px 10px;}
.sy_manynav{width: 100%;  box-sizing: border-box; display: none; background: #fff; margin:-9px 0 10px; padding:5px 10px 10px 0; border-radius:0 0 4px 4px;  box-shadow: 0 2px 3px #ddd; }
.sy_manynav.allopen{ display:block; background: none; padding: 0; margin: 0; box-shadow: none; }
.sy_manynav li.sy_manynav_li{ padding-left:10px; box-sizing: border-box; }
.sy_manynav li.sy_manynav_li a{color:#32ADF1; display:block;padding:10px; font-size: 14px;border-bottom: 1px  solid #eee; cursor: pointer;}
.sy_manynav li.sy_manynav_li a:hover{color:#6cb9e4;}
.sy_manynav li.sy_manynav_li a i{ font-size:22px; color: #737373;}
.sy_manynav.allopen>li.sy_manynav_li>a{ background: #6cb9e4; border:1px solid #6cb9e4; color:#fff; border-radius:6px;margin-bottom: 5px; position: relative;z-index: 44; }
.sy_manynav.first>li.sy_manynav_li>a{ background: #32ADF1;border:1px solid #32ADF1;color:#fff;  }
.sy_manynav.allopen>li.sy_manynav_li>a>i{ color:#fff;}
.sy_manynav.first>li.sy_manynav_li>a>i{ color: #fff;}



.sy_right{ width: 80%; box-sizing: border-box; float: right; padding:20px; min-width: 820px; }


.sy_selects{ width: 100%;position:relative;}
.sy_select_value{ padding: 0 40px 0 15px; height: 30px; line-height: 30px; border:1px solid #ddd; border-radius:2px;  display: block; box-sizing: border-box; color: #535353; font-size: 14px;background: #fff; cursor: pointer;}
.sy_selects i{position:absolute; font-size:25px; line-height: 30px; top: 0; right: 0;color: #737373; cursor: pointer;}
.sy_options{ position:absolute; top: 100%; width: 100%; left: 0; border:1px solid #ddd; border-top: 0; border-radius:0 0 2px 2px; box-sizing: border-box; background: #f9f9f9; display:none;}
.sy_option{ display:block; text-align: left; padding-left:15px;  line-height: 26px; height: 26px; color: #666;  font-size: 13px; cursor: pointer;}
.sy_option:hover{background-color:#32ADF1; color: #fff; }

.sy_input{border:1px solid #ddd; border-radius:2px; height: 30px; line-height: 30px; box-sizing: border-box; padding: 0 15px;font-family: Microsoft YaHei,"Hiragino Sans GB W3", Helvetica, Arial, sans-serif; font-size:14px; width: 100%; color: #535353;}
.sy_input.s{ width: 30px; height: 26px; line-height: 26px; padding: 0; text-align: center;}

.sy_but{height: 30px; line-height: 30px; padding: 0 15px; border: 1px solid #ddd; background: #fff; display: inline-block; border-radius:4px; text-align: center; font-size: 14px; cursor: pointer;box-sizing: border-box;}
.sy_but.hbg{ background-color: #32ADF1; color: #fff; border-color: #32ADf1;}
.sy_but:hover{ background-color: #f5f5f5;}
.sy_but.hbg:hover{background-color:#229Dd1;}

.sy_orderbox{ width: 100%; margin-left: -10px;}

.sy_operation{width: 100%; margin-top: 10px;}
.sy_operation .sy_but.fl{ margin-right: 10px;}

.sy_table{ width: 100%;margin: 10px 0;border-spacing: 0;border-collapse: collapse;border-radius:4px;}
.sy_table>thead>tr>th{ padding: 5px 15px; background: #f5f5f5; border: 1px solid #ddd; text-align: left; font-size: 14px; color: #535353;}
.sy_table>tbody>tr>td{ padding:10px 15px; border: 1px solid #ddd; font-size: 13px; color:#666;}

.sy_page{width:100%; text-align: right;}
.sy_page .sy_but{ height: 26px; line-height: 26px; border-color:#32ADF1; color: #32ADF1;  padding: 0 10px; }
.sy_page .sy_but:hover{background:#32ADF1; color: #fff}
.sy_page .sy_but.un{border-color:#ccc; color: #aaa;}
.sy_page .sy_but.un:hover{border-color:#ccc; color: #aaa; background: #fff; cursor: no-drop;}
.sy_page span{ line-height: 26px;}

/*底部*/
.sy_foot{ width:100%; position:absolute; bottom:0; height:36px;z-index:2px; left:0; text-align:center; line-height:36px; color:#eee;}
